.card {
  background-color: #fefefe;
  background-position: center center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  min-height: 230px;
  min-width: 360px;
  margin: 0 10px;
  cursor: pointer;
}
.card-title {
  text-align: center;
  font-weight: 100;
  margin-top: 10px;
}
