@import "../../designTokens/scsss-variables.scss";
.card {
  background-color: $dark;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-out;
  .card__image {
    background-position: center center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    min-height: 230px;
    min-width: 360px;

    border-radius: 5px 5px 0px 0px;
    position: relative;
  }
  .card__info {
    padding: 10px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .card__title {
      line-height: 1;
    }
    .card__subtitle {
      text-transform: uppercase;
      font-weight: 100;
      letter-spacing: 0.1em;
      line-height: 1;
    }
    .card__arrow {
      display: block;
      width: 20px;
      height: 20px;
      margin-right: 20px;
      opacity: 0;
      transition: all 0.3s ease-out;
    }
  }
}

.card:hover {
  transform: scale(1.02);
}
.card:hover > .card__info > .card__arrow {
  margin-right: 0px;
  opacity: 1;
}
