@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap");
@import "./designTokens/scsss-variables.scss";

*,
:before,
:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: $dark;
}

.container {
  padding: 0 2vw;
}
.row {
  margin: 100px auto;
}
.btn {
  padding: 20px 25px;
  border: none;
  cursor: pointer;
  background-color: $dark;
  color: #fff;
  transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.btn:hover {
  background-color: lighten($dark, 5%);
}

.no-bg-btn {
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
  font-size: 1rem;
  // transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.no-bg-btn:hover {
  background-color: #fff;
  color: $dark;
}
