.home {
  min-height: 70vh;
}

.featured-title {
  width: 100%;
  //   text-align: center;
  margin-bottom: 50px;
  h1 {
    color: rgb(223, 223, 223);
    font-size: 4em;
    line-height: 0.1;
  }
  h3 {
    font-size: 2em;
    text-transform: uppercase;
  }
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
